*,*::before,*::after
{
    box-sizing : border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}




#quiz{
    font-size: 200%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Unbounded', cursive;
    text-align: center;
    color: black
    
}
#box{
    text-align: center;
    border: 10px outset black;
    width: 800px;
    text-align: center;
    margin: auto;
  
}

#instructions{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: purple;
    font-size: 20px;
    
}

/*button {
    height: 75px;
    width: 200px;
    background-color: #4F4846;
    color: #FDF8F5;
    border-radius: 60%;
    font-family: sans-serif;
    font-size: 175%;
}

.container{
    text-align: center;
    
}
*/
body{
    padding: 0;
    margin: 0;
    display:flex;
    justify-content: center;
    align-items: center;
}

